<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self'" /> -->
        <title>Accounts</title>
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../css/global.css" />
        <script src="../js/bootstrap/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $(document).ready(() => {
                if ($("#errors_modal")) {
                    $("#errors_modal").modal("show");
                }
            });
        </script>
    </head>
    <body class="min-vh-100">
        <main class="row min-vh-100 g-0">
            <nav class="navbar bg-success sidebar align-items-start justify-content-start column">
                <div class="container-fluid d-flex justify-content-center">
                    <a class="navbar-brand text-light fs-2 m-0" href="/dashboard">
                        <img src="../images/FinTrack_logo_light.svg" alt="Logo" width="35" class="d-inline-block align-middle" />
                        <span class="align-middle fs-1 fw-bold nav-desc">FinTrack</span>
                    </a>
                    <ul class="navbar-nav fw-bold d-flex flex-column">
                        <div>
                            <li class="nav-item">
                                <a class="nav-link text-light icon-link icon-link-hover" aria-current="page" href="/dashboard">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window-sidebar" viewBox="0 0 16 16">
                                        <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                                        <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1zM1 13V6h4v8H2a1 1 0 0 1-1-1m5 1V6h9v7a1 1 0 0 1-1 1z" />
                                    </svg>
                                    <span class="nav-desc">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light icon-link icon-link-hover" href="/accounts">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                                        <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z" />
                                    </svg>
                                    <span class="nav-desc">Accounts</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light icon-link icon-link-hover" href="/calendar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                    </svg>
                                    <span class="nav-desc">Calendar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light icon-link icon-link-hover" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                    </svg>
                                    <span class="nav-desc">Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning icon-link icon-link-hover" href="/logout">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                                    </svg>
                                    <span class="nav-desc">Log out</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid main column">
                <h1 class="pt-3 mb-3">ACCOUNTS</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md bg-light p-3 rounded-4 column container me-3 mb-3 border">
                            <div class="row">
                                <div class="col">
                                    <h2 class="fw-bold">Accounts</h2>
                                    <h6 class="mb-3">Total Amount: <%= total_account %></h6>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new_account">New Account</button>
                                </div>
                            </div>
                            <table class="table table-light table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Account</th>
                                        <th scope="col" class="text-end">Current Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%_ for (let i = 0; i < accounts.length; i++ ) { _%>
                                    <tr>
                                        <td><%= accounts[i].name %></td>
                                        <td class="text-end"><%= new Intl.NumberFormat('en-PH', {style: 'currency', currency: 'PHP'}).format(accounts[i].amount) %></td>
                                    </tr>
                                    <%_ } _%>
                                </tbody>
                            </table>
                        </div>
                        <div class="col bg-dark container rounded-4 mb-3 p-3 text-light">
                            <h3>Weekly Spending Chart</h3>
                            <div class="container"></div>
                        </div>
                    </div>
                    <div class="row bg-light rounded-4 p-3 border">
                        <div class="row mb-3">
                            <h2 class="fw-bold col-5 me-auto">Transactions</h2>
                            <div class="col-5 text-end">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new_transaction">New Transaction</button>
                            </div>
                        </div>
                        <form action="/accounts/" method="get" class="mb-3">
                            <div class="row">
                                <div class="col-md-4 align-items-center d-flex">
                                    <select class="form-select mb-3" name="account_id">
                                        <%_ if (current_account) { _%>
                                        <option value="">All Accounts</option>
                                        <%_ } else {_%>
                                        <option selected value="">All Accounts</option>
                                        <%_ } _%> <%_ for (let i = 0; i < accounts.length; i++) { _%> <%_ if (current_account && (current_account.id == accounts[i].id)) { _%>
                                        <option value="<%= accounts[i].id %>" selected><%= accounts[i].name %></option>
                                        <%_ } else {_%>
                                        <option value="<%= accounts[i].id %>"><%= accounts[i].name %></option>
                                        <%_ } _%> <%_ } _%>
                                    </select>
                                </div>
                                <div class="col-md-4 align-items-center d-flex">
                                    <select class="form-select mb-3" name="category">
                                        <option disabled selected>All Categories</option>
                                        <%_ for (let i = 0; i < categories.length; i++) { _%>
                                        <option value="<%= i + 1 %>"><%= categories[i] %></option>
                                        <%_ } _%>
                                    </select>
                                </div>
                                <div class="col-md-4 d-flex mb-3">
                                    <input type="text" name="search" id="search" placeholder="Search Transaction" class="form-control" />
                                    <button type="button submit" class="btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Category</th>
                                    <th scope="col" class="text-end">Amount</th>
                                    <th scope="col" class="w-50 text-center">Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%_ for (let i = 0; i < transactions.length; i++ ) { _%>
                                <tr>
                                    <td><%= (new Date(transactions[i].created_at)).toLocaleDateString('en-US'); %></td>
                                    <td><%= transactions[i].description %></td>
                                    <td>
                                        <form action="">
                                            <select class="form-select form-select-sm w-50">
                                                <%_ for(let j = 0; j < categories.length; j++) { _%> <%_ if (j + 1 === transactions[i].category) { _%>
                                                <option value="<%= j + 1 %>" selected><%= categories[j] %></option>
                                                <%_ } else {_%>
                                                <option value="<%= j + 1 %>"><%= categories[j] %></option>
                                                <%_ }_%> <%_ }_%>
                                            </select>
                                        </form>
                                    </td>
                                    <td class="text-danger text-end"><%= new Intl.NumberFormat('en-PH', {style: 'currency', currency: 'PHP'}).format(transactions[i].amount) %></td>
                                    <td><%= transactions[i].notes %></td>
                                </tr>
                                <%_ }_%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new_transaction" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">New Transaction</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="create_transaction" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="account_id">Account</label>
                                    <select class="form-control form-select" id="account_id" name="account_id">
                                        <!-- <option selected disabled>Select Account</option> -->
                                        <%_ for(let i = 0; i < accounts.length; i++) { _%>
                                        <option value="<%= accounts[i].id %>"><%= accounts[i].name %></option>
                                        <%_ } _%>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" placeholder="Description" name="description" />
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control form-select" id="category" name="category">
                                        <option selected disabled value="">Select Category</option>
                                        <%_ for(let i = 0; i < categories.length; i++) { _%>
                                        <option value="<%= i + 1 %>"><%= categories[i] %></option>
                                        <%_ } _%>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="amount">Amount</label>
                                    <input type="number" step="0.01" class="form-control" placeholder="0.00" id="amount" name="amount" />
                                </div>
                                <div class="form-group">
                                    <label for="is_expense">Is Expense?</label>
                                    <select class="form-control form-select" id="is_expense" name="is_expense">
                                        <option selected value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="notes">Notes</label>
                                    <textarea class="form-control" rows="3" id="notes" name="notes"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="button " class="btn btn-success" data-bs-dismiss="modal">Add Transaction</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new_account" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">New Account</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="create_account" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" placeholder="Account Name" name="name" />
                                </div>
                                <div class="form-group">
                                    <label for="amount">Initial Amount</label>
                                    <input type="number" step="0.01" class="form-control" placeholder="0.00" name="amount" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="button " class="btn btn-success" data-bs-dismiss="modal">Add Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%_ if (errors.length) { _%>
            <div id="errors_modal" class="modal fade" id="new_account" tabindex="1" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Error</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <%_ for (let i = 0; i < errors.length; i++) { _%>
                            <p class="text-danger"><%= errors[i] %></p>
                            <%_ } _%>
                        </div>
                    </div>
                </div>
            </div>
            <%_ } _%>
        </main>
    </body>
</html>
